/* ###################################
    all
################################### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ###################################
    root
################################### */
:root{
--stdBorder: 1px solid black;
--stdRadius: 0.5rem;
--stdMargin: 0.5rem;
--stdPadding: 0.5rem;
--stdBoxShadow: 2px 2px 4px 0px #000000;

--darkBackground: black;
--brightBackground: white;
--darkText: black;
--brightText: white;


--primaryColor500: #641381;
--primaryColor400: #7A229A;
--primaryColor300: #a849ca;
--secondaryColor500: #3e9976;
--secondaryColor400: #5FBB97;
--secondaryColor300: #86dbbb;
--accentColor500: #d1294e;
--accentColor400: #EE4266;
--accentColor300: #f55e7f;
}

/* ###################################
    easDivContainer
################################### */
.easDivContainer{
    width: 300px;
    height: 300px;
    border: var(--stdBorder);
    border-radius: var(--stdRadius);
    margin: 10px auto;
    padding: var(--stdPadding);
    background-image: url("../img/03.jpg");
    background-size: cover;
    color: var(--brightText);
    
    /* flex Parent*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    gap: 0.1rem;
}

/* ###################################
    easDivRow
################################### */

.easDivRow{
    display: flex;
    gap: 0.1rem;
}


/* ###################################
    easDiv
################################### */
.easDiv{
    flex: 1 1 0; /*same as flex-grow: 1; flex-shrink: 1; flex-basis: 0;*/
    width: 0;
    min-width: 0px; /*shrink as much as needed (overwrite contentsize)*/
    border: var(--stdBorder);
    border-radius: var(--stdRadius);
    box-shadow: var(--stdBoxShadow);

    /*Glas-Effect
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgba(255,255,255,0.18);*/

    padding: var(--stdPadding);
    



}